<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.praysoft_net.TorneosPredicciones" android:versionName="1.0.11" android:versionCode="11">
	<uses-sdk android:minSdkVersion="21" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<application android:label="Torneos y Predicciones" android:icon="@drawable/ic_launcher"></application>
</manifest>