@model CompeTournament.Backend.Data.Entities.League
@{
    ViewData["Title"] = "Crear Liga";
}

<h1>Registro de Nueva Liga participante dentro del torneo</h1>

<form asp-action="CreateLeague">
    <input type="hidden" asp-for="GroupId" />
    <div class="form-group">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-2">
                <label asp-for="Name" class="control-label"> </label>
            </div>
            <div class="col-md-2">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

        </div>


        <br /><br />
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-5">

                <button type="submit" class="btn btn-primary"> Guardar y Procesar los Cambios</button>
            </div>

        </div>
    </div>



</form>





