@model  CompeTournament.Backend.Data.Entities.Group
@{
    ViewData["Title"] = "Detalles del Grupo";
}

<h1>Info y Detalles del Grupo</h1>

@*<h2> Torneos Activos</h2>*@

<h2>Liga, Asociacion, Federacion</h2>

<h2>Equipos, Participantes, Opciones</h2>

