<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <appSettings>
        <!-- NotificationHubs specific app setings for messaging connections -->
        <add key="Microsoft.Azure.NotificationHubs.ConnectionString"
            value="Endpoint=sb://[your namespace].notificationhub.windows.net;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=[your secret]"/>
    </appSettings>
</configuration>